$font-color: rgb(58, 58, 58);
$a-color:rgb(184, 0, 0);
$margin: 25px;
$margin-20: 20px;
$margin-30: 30px;
$space: space-between;
$alignment: center;
$auto: auto;
$flex: flex;
$underline: underline;
$none: none;
$row: row;
$column: column;
$px-90: 90px;